.config-wrapper {
    padding: 10px;
}

.config-te-cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.te-node-preview {
    width: 60px;
    height: 60px;
    border-radius: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #4e8ecc;
    padding: 10px;
}

.te-card {
    padding: 10px;
}

.te-card-header {
    text-align: center;
    margin-bottom: 40px;
}

.te-configs {
    display: grid;
    grid-row-gap: 10px;
}

.te-node-preview-label {
    margin-top: -10px;
}

.relationship-mapping {
    display: grid;
    grid-template-columns: calc(50% - 50px) 100px calc(50% - 50px);
}

.relationship-preview {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    height: 60px;
}

.relationship-preview .te-node-preview {
    margin: 0 !important;
}

.config-buttons {
    margin-top: 10px;
}

.config-buttons > button {
    margin-right: 10px;
}
