.legend {
    position: absolute;
    bottom: 16px;
    right: 16px;

    display: grid !important;
    grid-row-gap: 16px;
    padding: 16px;
}

.leg-item {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 5px;
    line-height: 20px;
}

.leg-item-symbol-circle {
    border-radius: 500px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.symbol-border {
    border: 1px solid #4e8ecc;
}