.info-wrapper {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
}

.info-tag {
    padding-bottom: 10px;
    line-height: 30px;
}

.info-title {
    padding: 0;
    margin: 0;
}



.info-actions{
    text-align: right;
}

.tei-modal-tracker-button {
    margin-right: auto;
}