.visualization-canvas, .visualization-canvas:focus {
    position: relative;
    flex: 1;
    background-color: #f4f6f8;
}

.visualization-canvas * {
    outline: none;
}

.visualization-canvas-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.visualization-topbar {
    display: flex;
    flex-direction: row;

    padding: 8px;
    border-bottom: 1px solid #e0e2e4;
}
.visualization-buttons button {
    margin-left: 8px;
}
.visualization-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visualization-hero {
    width: 280px;
}

.visualization-topbar-leftpane {
    margin: -8px;
    height: 48px;
    
    display: flex;
    align-items: center;
    padding: 8px;
}

.visualization-sidebar-text {
    text-align: center;
}

@media (min-width: 840px) {
    .visualization-topbar-leftpane {
        width: 280px;
        border-right: 1px solid #e0e2e4;
    }
}

.visualization-overlay {
    padding: 8px;
    border: 1px solid #e0e2e4;
    border-radius: 4px;
    background-color: #FFFFFF;
}